<script>
export default {}
</script>
<template>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et tempus urna, in condimentum
      massa. Donec at condimentum arcu. Vivamus non ultricies dolor. Pellentesque interdum mattis
      felis, quis accumsan magna.
    </p>
  </div>
</template>
