<script>
import ModulesRepository from '../repositories/modules.repository'
import BooksRepository from '../repositories/books.repository'
import store from '@/store'
export default {
  data() {
    return {
      book: {},
      modules: [],
      titulo: 'Añadir libro',
      boton: 'Añadir'
    }
  },
  async mounted() {
    const repository = new ModulesRepository()
    const repositoryBooks = new BooksRepository()
    try {
      if (this.$route.params.id) {
        this.book = await repositoryBooks.getBookById(this.$route.params.id)
        this.titulo = 'Editar libro'
        this.boton = 'Editar'
      }

      this.modules = await repository.getAllModules()
    } catch (error) {
      alert(error)
    }
  },
  methods: {
    async addBook() {
      const repository = new BooksRepository()
      try {
        if (this.book.id) {
          await repository.changeBook(this.book)
          store.addMessage('El libro se ha modificado correctamente')
        } else {
          await repository.addBook(this.book)
          store.addMessage('Libro añadido correctamente')
        }
        this.$router.push('/list')
      } catch {
        store.addMessage('Error con el libro')
      }
    },
    async reset() {
      const repository = new BooksRepository()
      if (this.book.id) {
        this.book = await repository.getBookById(this.book.id)
      } else {
        this.book = {}
      }
    }
  }
}
</script>
<template>
  <div>
    <form id="bookForm" novalidate @submit.prevent="addBook">
      <h1 id="titulo">{{ titulo }}</h1>
      <div class="hidden">
        <label for="id-libro">Id</label>
        <input type="number" v-model="book.id" readonly /><br />
        <span class="error"></span>
      </div>
      <div>
        <label for="id-module">Módulo:</label>
        <select v-model="book.idModule" required>
          <option value="">- Selecciona un módulo -</option>
          <option v-for="module in modules" :key="module.code" :value="module.code">
            {{ module.cliteral }}
          </option></select
        ><br />
        <span class="error"></span>
      </div>

      <div>
        <label for="publisher">Editorial:</label>
        <input type="text" v-model="book.publisher" required /><br />
        <span class="error"></span>
      </div>

      <div>
        <label for="price">Precio:</label>
        <input type="number" v-model="book.price" required /><br />
        <span class="error"></span>
      </div>

      <div>
        <label for="pages">Páginas:</label>
        <input type="number" v-model="book.pages" required /><br />
        <span class="error"></span>
      </div>

      <div>
        <label>Estado:</label>
        <input type="radio" name="estado" v-model="book.status" value="new" required />
        <label for="estado-new">Nuevo</label>

        <input type="radio" name="estado" v-model="book.status" value="good" />
        <label for="estado-good">Bueno</label>

        <input type="radio" name="estado" v-model="book.status" value="used" />
        <label for="estado-used">Usado</label>

        <input type="radio" name="estado" v-model="book.status" value="bad" />
        <label for="estado-bad">Malo</label>

        <input type="radio" name="estado" v-model="book.status" value="digital" />
        <label for="estado-digital">Digital</label>
        <span class="error"></span>
      </div>

      <div>
        <label for="comments">Comentarios:</label>
        <textarea v-model="book.comments"></textarea>
        <span class="error"></span>
      </div>

      <button type="submit" id="submit">{{ boton }}</button>
      <button type="reset" @click="reset()">reset</button>
    </form>
  </div>
</template>
