<script>
import BooksRepository from '../repositories/books.repository'
import BookLi from '../components/BookLi.vue'
import store from '../store/index.js'
export default {
  data() {
    return {
      book: {},
      books: []
    }
  },
  async mounted() {
    const repository = new BooksRepository()
    try {
      this.books = await repository.getAllBooks()
    } catch (error) {
      alert(error)
    }
  },
  components: {
    BookLi
  },
  methods: {
    async delBook(id) {
      const repository = new BooksRepository()
      const posicion = this.books.findIndex((libro) => libro.id === id)
      try {
        await repository.removeBook(id)
        this.books.splice(posicion, 1)
        store.addMessage('Se ha borrado el libro correctamente')
      } catch {
        store.addMessage('No se ha podido borrar el libro')
      }
    }
  },
  computed: {
    numberBooks() {
      return this.books.length
    }
  }
}
</script>
<template>
  <book-li @delBook="delBook" v-bind:item="book" v-for="book in books"></book-li>
  <h4>Total de libros: {{ numberBooks }}</h4>
</template>
