<script>
import store from '../store/index.js'
export default {
  computed: {
    messages() {
      return store.state.messages
    }
  },
  methods: {
    delMessage(id) {
      store.delMessage(id)
    }
  }
}
</script>
<template>
  <div v-for="message in messages">
    {{ message.text }}
    <button
      @click="delMessage(message.id)"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      x
    </button>
  </div>
</template>
