<script>
export default {}
</script>
<template>
  <nav>
    <ul>
      <RouterLink to="/list">Libros</RouterLink>
      <br />
      <RouterLink to="/form">Añadir Libro</RouterLink>
      <br />
      <RouterLink to="/about">Acerca de...</RouterLink>
      <br />
      <RouterLink to="/cart">Carrito</RouterLink>
    </ul>
  </nav>
</template>
