<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    delBook(item) {
      if (
        confirm(
          'Quieres eliminar el libro con id: ' + item.id + ' y con idModule: ' + item.idModule
        )
      ) {
        this.$emit('delBook', item.id)
      }
    },
    editBook(id) {
      this.$router.push('/edit/' + id)
    }
  },
  emits: ['delBook']
}
</script>
<template>
  <div>
    <div>
      <h4>Libro: {{ item.id }}</h4>
      <h5>{{ item.idModule }}</h5>
      <h6>Editorial: {{ item.publisher }}</h6>
      <p>Precio: {{ item.price }}</p>
      <p>Páginas: {{ item.pages }}</p>
      <p>Estado: {{ item.status }}</p>
      <p>{{ item.soldDate === '' ? 'En venta' : item.soldDate }}</p>
      <p>Comentarios: {{ item.comments }}</p>
    </div>
    <div>
      <button>
        <span class="material-icons">add_shopping_cart</span>
      </button>
      <button @click="editBook(item.id)">
        <span class="material-icons">edit</span>
      </button>
      <button @click="delBook(item)">
        <span class="material-icons">delete</span>
      </button>
    </div>
  </div>
</template>
